{
  "extends": [
    "airbnb-base/legacy",
    "angular"
  ],
  "rules": {
    "no-console": [
      "off"
    ],
    "yoda": 2,
    "no-template-curly-in-string": [
      "off"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "func-names": [
      "error",
      "never"
    ],
    "indent": 1,
    "angular/controller-name": 0,
    "strict": [
      "error",
      "global"
    ]
  },
  "env": {
    
  },
  "plugins": [
    "angular",
    "json"
  ]
}